.react-pdf__Page.prevPage {
  position: absolute !important;
  z-index: 1;
}

input {
  field-sizing: content;
}

/* Hide arrows in pdf */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
